<a href="https://colab.research.google.com/github/vinball23/H8_3/blob/main/Sesi2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**S.2 // Conditions, Control Flow & Looping**


---

**Introduction to the if Statement**

In [ ]:
# if <expr>:
#    <statement>
    
x = 0
y = 5
if x < y:       #Truthy
    print('yes')

if y < x:       #Falsy
    print('yes')

if x:           #Falsy
    print('yes')

if y:           #Truthy
    print('yes')
    
if 'aul' in 'grault':    #Truthy
    print('yes')
    
if 'quux' in ['foo', 'bar', 'baz']:     #Falsy
    print('yes')

**Grouping Statements: Indentation and Blocks**

In [ ]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
    
print('After conditional')

In [ ]:
# Does line execute?
#                                          Yes    No
if 'foo' in ['foo', 'bar', 'baz']:       #  x     
    print('Outer condition is true')     #  x
    
    if 10 > 20:                          #  x
        print('Inner condition 1')       #        x
    
    print('Between inner condition')     #  x
    
    if 10 < 20:                          #  x
        print('Inner condition 2')       #  x
    
    print('End of outer condition')      #  x
print('After outer condition')           #  x

**The else and elif Clauses**

In [ ]:
x = 20

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

In [ ]:
x = 120

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

In [ ]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
else:
    print("uang tidak cukup")

beli buku

In [ ]:
name = 'Hacktiv8'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

Hello Hacktiv8

In [ ]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

foo

**One-Line if Statement**

In [ ]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [ ]:

if 'z' in 'foo': print('1'); print('2'); print('3')

In [ ]:
x = 3

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

In [ ]:
x = 2

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

In [ ]:
x = 3

if x == 1: 
    print('foo') 
    print('bar') 
    print('baz')
elif x == 2: 
    print('qux')
    print('quux')
else: 
    print('corge')
    print('grault')

**Conditional Expressions (Python's Ternary Operator)**

In [ ]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [ ]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

In [ ]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

In [ ]:
'yes' if ('qux' in ['foo', 'bar', 'bazz']) else 'no'

**The Python pass Statement**

In [ ]:
if True:
    print('foo')

In [ ]:
File "foo.py", line 3
print('foo')

In [ ]:
if True:
    pass
print('foo')

**Python "while" Loops**

In [ ]:
n = 5
while n > 0:
    n -= 1
    print(n)

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1

**The Python break and continue Statements**

In [ ]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break  # Break Statement
    print(n)
print('Loop ended.')

**The else Clause**

In [ ]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

In [ ]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

**Nested while Loops**

In [ ]:
age = 20
gender = 'F'

if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

In [ ]:
# loop while dapat dimuat dalam loop while lainnya, seperti berikut ini:

a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

**One-Line while Loops**

In [ ]:
n = 5
while n > 0: n -= 1; print(n)

**The Python for Loop**

In [ ]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [ ]:
d = {'foo': 1, 'bar':2, 'baz':3}
for k in d:
    print(k)

foo
bar
baz

In [ ]:
for k in d:
    print(d[k])

1
2
3

In [ ]:
for k in d.values():
    print(k)

In [ ]:
for k, v in d.items():
    print(k, ":", v)
    print('ok')